.account {
  &__aside {
    width: 21%;

    &-list {
      width: 100%;
    }

    &-item {
      @include adaptive-value(padding-top, 21, 11);
      @include adaptive-value(padding-bottom, 21, 11);
      border-top: 1px solid #e2e2e2;

      &:last-child {
        border-bottom: 1px solid #e2e2e2;
      }

      &.active {
        a {
          color: $black;
          font-weight: 600;

          &:hover {
            color: lighten($black, 20%);
          }

          &::after {
            color: $black;
          }

          &:hover::after {
            color: lighten($black, 20%);
          }
        }
      }

      a {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include adaptive-value(font-size, 18, 14);
        @include adaptive-value(line-height, 27, 18);
        color: #525252;
        position: relative;
        transition: 0.3s;

        &:hover {
          color: darken(#525252, 20%);
        }

        &::after {
          content: "\f054";
          display: inline-block;
          font-family: FontAwesome;
          font-size: 14px;
          color: #919191;
          transition: 0.3s;
        }

        &:hover::after {
          color: darken(#919191, 20%);
        }
      }
    }
  }

  &__pagination {
    max-width: 320px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include adaptive-value(margin-bottom, 100, 20);
    margin-left: auto;

    @media (max-width: 940px) {
      margin-right: auto;
    }

    &-list {
      display: flex;
      font-size: 15px;
      text-align: center;
      border-bottom: 1px solid #e2e2e2;
    }

    &-item {
      width: 43px;
      position: relative;
      padding-bottom: 6px;

      &::after {
        content: "";
        display: block;
        width: 0;
        height: 1px;
        background: $orange;
        position: absolute;
        bottom: -1px;
        left: 0;
        transition: 0.3s;
      }

      &.active {
        &::after {
          width: 100%;
        }

        .account__pagination-link {
          color: $orange;
        }
      }
    }

    &-link {
      color: #a0a0a0;
      transition: 0.3s;

      &:hover {
        color: darken(#a0a0a0, 30%);
      }
    }

    &-arrow {
      color: #a0a0a0;
    }
  }

  &__mobile {
    &-nav {
      position: fixed;
      width: 100%;
      height: 100%;
      @include adaptive-value(padding-left, 200, 30);
      @include adaptive-value(padding-right, 200, 30);
      @include adaptive-value(padding-top, 50, 20);
      top: 0;
      left: 0;
      background: #fff;
      z-index: 2223;
      transform: translateY(100%);
      transition: 0.3s;
      overflow-y: auto;

      &.active {
        transform: translateY(0);
      }

      .account__aside {
        width: 100%;

        &-item {
          @include adaptive-value(padding-top, 21, 16);
          @include adaptive-value(padding-bottom, 21, 16);

          &:first-child {
            border-top-width: 0;
          }
        }
      }
    }

    &-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid #eaeaea;
      margin-bottom: 30px;

      svg {
        width: 16px;
        height: 16px;
        object-fit: cover;
        fill: #a0a0a0;
        transition: 0.3s;

        &:hover {
          fill: darken(#a0a0a0, 20%);
        }
      }
    }

    &-title {
      font-size: 24px;
      font-weight: 600;
      padding-bottom: 4px;
      position: relative;

      &::after {
        content: "";
        display: block;
        width: 100%;
        height: 3px;
        background: $black;
        position: absolute;
        bottom: -1px;
        left: 0;
        z-index: 2;
      }
    }
  }

  &__title {
    @include adaptive-value(font-size, 32, 24);
    @include adaptive-value(line-height, 44, 32);
    font-weight: 600;
    color: $black;
    text-align: center;
    @include adaptive-value(margin-bottom, 65, 20, 1);
  }

  &__actions {
    display: none;
    margin-bottom: 20px;

    @media (max-width: 941px) {
      display: flex;
      justify-content: center;
    }

    &-btn {
      text-align: center;
      width: 50%;
      height: 100%;
      font-size: 16px;
      line-height: 22px;
      padding: 11px 8px;
      color: #767676;
      background: #fff;
      border: 1px solid #eaeaea;

      @media (max-width: 576px) {
        width: 100%;
      }
    }
  }
}
