.footer {
  background: url("../img/icons/icons.svg#bg") center no-repeat;
  background-size: cover;
  @include adaptive-value(padding-top, 70, 20);
  transition: 0.3s;

  @media (max-width: 860px) {
    background: #1f1f1f;
  }

  &.active {
    transform: translateX(280px);
  }

  &__logo {
    @include adaptive-value(width, 180, 150, 1);
    @include adaptive-value(height, 60, 40, 1);
    @include adaptive-value(margin-bottom, 15, 5, 1);
    @include adaptive-value(margin-top, -15, 0, 1);

    @media (max-width: 792px) {
      margin: 0 auto 10px;
    }

    svg {
      width: 100%;
      height: 100%;
      fill: #fff;
    }
  }

  &__nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    @include adaptive-value(margin-bottom, 90, 20);

    @media (max-width: 800px) {
      justify-content: center;
      flex-wrap: wrap;
      @include adaptive-value(margin-bottom, 50, 20);
    }

    @media (max-width: 792px) {
      flex-direction: column;
      align-items: center;
    }

    a {
      color: #cdcdcd;

      &:hover {
        color: #fff;
      }

      transition: 0.3s;
    }

    &-left {
      margin-right: 20px;

      @media (max-width: 792px) {
        margin-bottom: 10px;
        margin-right: 0;
      }

      .footer__nav-item {
        &:first-child {
          @media (max-width: 792px) {
            max-width: 100%;
            text-align: center;
          }
        }
      }
    }

    &-right {
      width: 75%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      @media (max-width: 792px) {
        width: 100%;
      }

      @media (max-width: 584px) {
        justify-content: center;
      }

      @media (max-width: 425px) {
        justify-content: space-between;
      }

      .footer__nav-item {
        @media (max-width: 792px) {
          width: 23%;
        }

        @media (max-width: 520px) {
          width: 30%;
        }

        @media (max-width: 425px) {
          width: 45%;
        }

        &:nth-child(2),
        &:nth-child(4) {
          @media (max-width: 520px) {
            text-align: center;
          }
        }

        &:nth-child(3) {
          @media (max-width: 520px) {
            text-align: right;
          }
        }

        &:nth-child(2n) {
          @media (max-width: 425px) {
            text-align: right;
          }
        }

        &:nth-child(2n + 1) {
          @media (max-width: 425px) {
            text-align: left;
          }
        }
      }
    }

    &-item {
      max-width: 150px;
      color: #cdcdcd;

      @media (max-width: 800px) {
        margin: 10px 5px;
      }

      h2 {
        @include adaptive-value(font-size, 28, 24);
        font-weight: 600;
        color: #fff;
        @include adaptive-value(margin-bottom, 30, 10);
      }

      h3 {
        font-size: 13px;
        font-weight: 500;
        text-transform: uppercase;
        color: #fff;
        margin-bottom: 16px;

        @media (max-width: 800px) {
          font-size: 16px;
        }
      }

      &:first-child {
        //margin-right: 20px;
      }
    }
  }

  &__social {
    display: flex;

    &-item {
      &:not(:last-child) {
        margin-right: 15px;
      }

      @media (max-width: 792px) {
        margin: 0 15px;
      }
    }

    @media (max-width: 577px) {
      justify-content: center;
    }
  }

  &__support,
  &__shop,
  &__company,
  &__contact {
    font-size: 16px;

    &-item {
      margin-bottom: 10px;
    }
  }

  &__bottom {
    border-top: 1px solid #2b2b2b;

    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 26px 0;

      @media (max-width: 630px) {
        flex-wrap: wrap-reverse;
        justify-content: center;
      }

      span {
        color: #767676;
        font-size: 13px;
        padding: 0 10px;

        @media (max-width: 630px) {
          text-align: center;
        }
      }
    }
  }

  &__payments {
    display: flex;

    &-item {
      &:not(:last-child) {
        margin-right: 5px;
      }

      svg {
        width: 42px;
        height: 24px;
      }
    }

    @media (max-width: 630px) {
      margin-bottom: 20px;
    }
  }
}
