@mixin checkbox-bg($background) {
  .aside__label {
    &::before {
      background: $background;
    }
  }
}

.aside {
  width: 26%;
  @include adaptive-value(padding-right, 60, 10);


  @media (max-width: 941px) {
    width: 100%;
    padding-right: 0;
  }

  &__list {
    @media (max-width: 941px) {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin: 0 -10px;
    }
  }

  &__item {
    font-size: 18px;
    line-height: 26px;
    font-weight: 600;
    color: $black;
    cursor: pointer;
    position: relative;
    //padding-bottom: 7px;
    @include adaptive-value(padding-bottom, 16, 8);
    transition: 0.3s;

    @media (max-width: 941px) {
      //@include adaptive-value(width, 200, 140);
      width: 23%;
      min-width: 140px;
      margin: 0 5px;
    }

    @media (max-width: 625px) {
      width: 31%;
    }

    @media (max-width: 450px) {
      width: 46%;
    }
  }

  &__title {
    position: relative;
    padding-bottom: 7px;
    @include adaptive-value(margin-bottom, 27, 10);

    &.active {
      &::before {
        transform: rotateZ(180deg);
        top: 35%;
      }
    }

    &:hover {
      color: lighten($black, 25%);
    }

    &:hover::before {
      color: lighten(#1f1f1f, 25%);
    }

    &::after {
      content: "";
      display: block;
      background: #e2e2e2;
      width: 100%;
      height: 1px;
      position: absolute;
      bottom: 0;
      left: 0;
    }

    &::before {
      content: "\f078";
      display: block;
      font-family: FontAwesome;
      font-size: 12px;
      line-height: 12px;
      color: #1f1f1f;
      position: absolute;
      top: 45%;
      right: 0;
      transform: translateY(-50%);
      transition: 0.3s;
    }
  }

  &__expanded {
    display: none;
    margin-bottom: 21px;
    font-size: 16px;
    line-height: 23px;

    &-list {
      //font-size: 16px;
      //line-height: 23px;
    }

    &-item {
      color: #525252;
      cursor: pointer;
      transition: 0.3s;
      padding-bottom: 15px;
      font-weight: 500;

      &:hover {
        color: $black;
      }

      &.aside-prices {
        cursor: auto;
      }

      &.unavailable {
        cursor: not-allowed !important;

        .aside__label {
          text-decoration: line-through;
          pointer-events: none;
          color: lighten(#525252, 25%);
        }
      }

      &.active {
        color: $black;
        text-shadow: 0 0 1px $black;
      }

      &.circle-item {
        color: #525252;
        cursor: auto;

        &[data-colour="black"] {
          @include checkbox-bg(#1f1f1f);
        }

        &[data-colour="blue"] {
          @include checkbox-bg(#3D8FE9);
        }

        &[data-colour="red"] {
          @include checkbox-bg(#F55050);
        }

        &[data-colour="yellow"] {
          @include checkbox-bg(#FFC61E);
        }

        &[data-colour="brown"] {
          @include checkbox-bg(#795548);
        }

        &[data-colour="grey"] {
          @include checkbox-bg(#BDC3C7);
        }

        &[data-colour="white"] {
          .aside__label {
            &::before {
              background: #fff;
              border: 1px solid #cdcdcd;
              color: $black;
            }
          }
        }

        .aside__label {
          &::before {
            width: 22px;
            height: 22px;
            border-radius: 50%;
            line-height: 22px;
          }
        }
      }
    }

    &-check {
      display: none;
      @include adaptive-value(padding-left, 25, 10);
      padding-bottom: 15px;

      @media (max-width: 941px) {
        padding-left: 10px;
      }
    }
  }

  &__sublist {
    &-item {
      color: #525252;

      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }
  }

  &__input {
    display: none;

    & + .aside__label {
      &::before {
        content: "\00a0";
        display: inline-block;
        width: 18px;
        height: 18px;
        font-size: 11px;
        line-height: 18px;
        font-weight: 200;
        text-align: center;
        background: #e2e2e2;
        margin-right: 15px;
        transition: 0.1s;
        text-shadow: none !important;
      }

      @media (max-width: 941px) {
        &::before {
          margin-right: 10px;
        }
      }
    }

    &:checked + .aside__label {
      &::before {
        background: $black;
        color: #fff;
        content: "\f00c";
        font-family: FontAwesome;
        text-align: center;
      }
    }

    &:checked + .aside__label {
      color: $black;
      text-shadow: 0 0 1px $black;
    }

    &:checked + .aside__label {
      &::after {
        font-weight: 500;
      }
    }

    &:focus + .aside__label {
      &::before {
        outline: rgb(59, 153, 252) auto 5px;
      }
    }
  }

  &__label {
    cursor: pointer;
    transition: 0.3s;
    display: block;
  }

  .aside-sizes {
    margin: 0 -7px;

    &.active {
      display: flex !important;
      flex-wrap: wrap;
    }

    &__item {
      margin: 7px;

      &.unavailable {
        cursor: not-allowed;

        .aside__label {
          background: #f5f5f5;
          text-decoration: line-through;
          pointer-events: none;
        }
      }

      &.big-item {
        .aside__label {
          width: 110px;
        }
      }

      .aside__label {
        display: block;
        width: 48px;
        height: 42px;
        line-height: 42px;
        text-align: center;
        user-select: none;
        background: #fff;
        color: #525252;
        border: 1px solid #cdcdcd;
        transition: 0.3s;

        &:hover {
          background: darken(#fff, 2%);
        }

        &::before {
          display: none;
        }
      }

      .aside__input:checked + .aside__label {
        border-color: #1f1f1f;
      }
    }
  }

  .aside-season {
    .aside__expanded-item {
      cursor: auto;
    }
  }

  .aside-colors {
    display: none;
  }

  .aside-colors,
  .aside-brands {
    max-height: 262px;
    overflow-y: scroll;
  }

  .aside-brands {
    position: relative;
  }

  .aside-search {
    width: 100%;
    padding: 13px 35px 13px 15px;
    background: #fff;
    font-size: 14px;
    line-height: 20px;
    border: 1px solid #cdcdcd;
    transition: 0.3s;

    &:focus {
      box-shadow: 0 0 4px 1px #111;
    }

    &::placeholder {
      font-family: Jost;
    }
  }

  .aside-label {
    display: block;
    position: relative;
    margin-bottom: 25px;

    i {
      position: absolute;
      top: 50%;
      right: 15px;
      color: #767676;
      transform: translateY(-50%);
      cursor: pointer;
      transition: 0.3s;

      &:hover {
        color: darken(#767676, 25%);
      }
    }
  }

  .aside-prices {
    &__wrap {
      display: flex;
      justify-content: space-between;
      align-items: center;

      span {
        color: #a0a0a0;
      }
    }

    &__item {
      @include adaptive-value(width, 106, 60);
      color: #525252;
      @include adaptive-value(font-size, 16, 12);
      @include adaptive-value(line-height, 24, 16);
      padding: 9px 15px;
      @include adaptive-value(padding-right, 15, 9);
      @include adaptive-value(padding-left, 15, 9);
      text-align: center;
      border: 1px solid #cdcdcd;
      transition: 0.3s;

      &::placeholder {
        @include adaptive-value(font-size, 16, 12);
        text-align: center;
      }

      &:focus {
        box-shadow: 0 0 4px 1px #111;
      }
    }
  }
}

.scrollbar-thumb {
  background: #1f1f1f !important;
  width: 4px !important;
}

.scrollbar-track-y {
  width: 4px !important;
  background: #e2e2e2 !important;
}




