.content {
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include adaptive-value(margin-bottom, 45, 20);

    @media (max-width: 431px) {
      display: block;
    }

    &-left {
      @media (max-width: 431px) {
        text-align: center;
      }
    }
  }

  &__title {
    @include adaptive-value(font-size, 32, 24);
    @include adaptive-value(line-height, 44, 32);
    font-weight: 600;
    color: $black;
    margin-bottom: 7px;
  }

  &__routes {
    display: flex;

    @media (max-width: 431px) {
      justify-content: center;
      margin-bottom: 10px;
    }

    &-item {
      position: relative;
      line-height: 23px;

      &:not(:last-child) {
        padding-right: 40px;

        &::after {
          content: "\f054";
          display: block;
          font-size: 12px;
          font-family: FontAwesome;
          color: #909090;
          position: absolute;
          top: 50%;
          right: 20px;
          transform: translate(50%, -50%);
          //padding-right: 20px;
        }
      }

      &:hover {
        .content__routes-link {
          color: darken(#909090, 50%);
        }
      }
    }

    &-link {
      color: #909090;
      font-size: 14px;
      line-height: 21px;
      transition: 0.3s;
    }
  }

  &__pagination {
    max-width: 320px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include adaptive-value(margin-bottom, 100, 20);
    margin-left: auto;

    @media (max-width: 940px) {
      margin-right: auto;
    }

    &-list {
      display: flex;
      font-size: 15px;
      text-align: center;
    }

    &-item {
      width: 43px;
      position: relative;
      padding-bottom: 6px;

      &::after {
        content: "";
        display: block;
        width: 0;
        height: 1px;
        background: $orange;
        position: absolute;
        bottom: 0;
        left: 0;
        transition: 0.3s;
      }

      &.active {
        &::after {
          width: 100%;
        }

        .content__pagination-link {
          color: $orange;
        }
      }
    }

    &-link {
      color: #a0a0a0;
      transition: 0.3s;

      &:hover {
        color: darken(#a0a0a0, 30%);
      }
    }

    &-arrow {
      color: #a0a0a0;
    }
  }

  &__bottom {
    display: flex;
    flex-wrap: wrap;
    margin: -7px -7px 33px;
  }

  &__tag {
    display: flex;
    align-items: center;
    color: #767676;
    line-height: 22px;
    padding: 10px 38px 10px 14px;
    position: relative;
    transition: 0.3s;
    background: #f5f5f5;
    margin: 7px;

    &::after {
      content: "\f00d";
      display: inline-block;
      font-size: 11px;
      line-height: 11px;
      font-family: FontAwesome;
      color: #767676;
      position: absolute;
      top: 50%;
      right: 18px;
      transform: translateY(-50%);
      transition: 0.3s;
    }

    &:hover {
      color: darken(#767676, 30%);
      background: darken(#f5f5f5, 10%);
    }

    &:hover::after {
      color: darken(#767676, 30%);
    }

  }

  .select {
    width: 190px;

    &__header {
      padding: 12px 31px 12px 15px;
      color: #767676;
    }

    &__current {
      text-align: left;
      padding-left: 0;

      &::after {
        content: "\f078";
        right: 20px;
      }
    }

    &__body {
      //overflow: hidden;
      text-align: left;
    }

    &__item {
      padding: 12px 31px 12px 15px;
      color: #767676;

      span {
        padding: 0;
      }
    }
  }

  .goods {
    &__list {
      @include adaptive-value(margin, -8, -5);
      margin-bottom: 40px;
    }

    &__item {
      //@include adaptive-value(width, 200, 150);
      width: 23%;
      min-width: 140px;
      @include adaptive-value(margin, 8, 5);

      @media (max-width: 615px) {
        width: 31%;
      }

      @media (max-width: 475px) {
        width: 46%;
      }

      @media (max-width: 310px) {
        width: 100%;
      }

      &-wrap {
        &:hover {
          .goods__content {
            padding-top: 5px;

            @media (max-width: 769px) {
              @include adaptive-value(padding-top, 20, 10);
            }
          }
        }
      }
    }

    &__img {
      @include adaptive-value(margin-bottom, 70, 50);
      //@include adaptive-value(height, 270, 220);
      height: 270px;
    }

    &__info {
      display: block;
      transform: translateY(10%);
      margin-bottom: 8px;

      @media (max-width: 769px) {
        transform: translateY(0);
      }
    }

    &__description {
      width: 100%;
    }

    &__prices {
      text-align: left;

      .old-price {
        margin-right: 10px;
      }
    }

    &__colors {
      margin-bottom: 8px;
    }


  }
}

.goods__item-wrap {
  &:hover {
    .goods__panel {
      opacity: 1;
      visibility: visible;
      z-index: 5;
    }
  }
}
