@import "hamburgers/hamburgers";
@import "partials/general/nullstyle";
@import "partials/general/_vars";
@import "partials/general/select";
@import "partials/general/links";
@import "partials/general/menu";
@import "partials/general/routes";
@import "partials/general/header";
@import "partials/general/footer";
@import "partials/account/account";
@import "fonts";

body {
  font-family: Jost;
  border: 0;
  transition: 0.3s;

  &.lock {
    overflow: hidden;
    box-sizing: border-box;
  }

  @media (max-width: 769px) {
    margin-top: 55px;
  }
}

.container {
  width: 100%;
  max-width: 1190px;
  margin: 0 auto;
  padding: 0 10px;
  box-sizing: border-box;
}

.main {
  transition: 0.3s;

  &.active {
    transform: translateX(280px);
  }
}

.hamburger {
  padding-bottom: 10px;
}

.header {
  margin-bottom: 20px;

  @media (max-width: 769px) {
    @include adaptive-value(margin-bottom, 123, 70);
  }
}

.circle {
  &.hide {
    display: none;
  }
}

.routes {
  @include adaptive-value(margin-bottom, 65, 20, 1);
}

.details {
  display: flex;
  justify-content: space-between;

  &__body {
    width: 72%;
    @include adaptive-value(margin-bottom, 110, 40);

    @media (max-width: 941px) {
      width: 100%;
    }
  }

  &__box {
    @include adaptive-value(padding-top, 29, 10);
    @include adaptive-value(padding-bottom, 29, 10);
    @include adaptive-value(padding-left, 39, 10);
    @include adaptive-value(padding-right, 39, 10);
    margin-bottom: 20px;
    border: 1px solid #cdcdcd;

    &-header {
      @include adaptive-value(padding-top, 17, 10);
      @include adaptive-value(padding-bottom, 17, 10);
      @include adaptive-value(padding-left, 30, 15);
      @include adaptive-value(padding-right, 30, 15);
      background: #f5f5f5;
      @include adaptive-value(margin-bottom, 40, 20, 1);
    }

    &-title {
      @include adaptive-value(font-size, 20, 16);
      @include adaptive-value(line-height, 30, 22);
      color: $black;
      font-weight: 600;
      @include adaptive-value(margin-bottom, 35, 20);
      margin-top: 10px;

      &_middle-indent {
        @include adaptive-value(margin-bottom, 20, 10);
      }
    }
  }

  &__products {
    &-item {
      display: flex;
      @include adaptive-value(padding-top, 30, 15, 1);
      @include adaptive-value(padding-bottom, 30, 15, 1);
      border-top: 1px solid #e2e2e2;
    }

    &-img {
      width: 100px;
      min-width: 100px;
      height: 100px;
      min-height: 100px;
      @include adaptive-value(margin-right, 30, 15, 1);

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &-main {
      max-width: 100%;
      width: 100%;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    &-inner {
      height: 100%;
      margin-bottom: 0;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    &-top {
      color: $black;
      @include adaptive-value(font-size, 15, 13, 1);
      @include adaptive-value(line-height, 24, 16, 1);
      font-weight: 600;
      margin-bottom: 8px;
    }

    &-title {
      margin-bottom: 5px;
    }

    &-price {
      color: #767676;
    }
  }

  &__info {
    &-list {
      display: flex;

      @media (max-width: 530px) {
        flex-wrap: wrap;
        justify-content: space-between;
      }
    }

    &-item {
      width: 25%;
      margin: 0 5px;

      @media (max-width: 530px) {
        display: flex;
        align-items: center;
        width: 49%;
        margin: 0;
      }

      @media (max-width: 361px) {
        width: 100%;
      }

      &:nth-child(1),
      &:nth-child(2) {
        margin-bottom: 10px;
      }

      &:nth-child(3) {
        @media (max-width: 361px) {
          margin-bottom: 10px;
        }
      }

      &:last-child {
        width: 20%;

        @media (max-width: 941px) {
          width: 25%;
        }

        @media (max-width: 530px) {
          width: 49%;
        }

        @media (max-width: 361px) {
          width: 100%;
        }
      }

      p {
        @media (max-width: 361px) {
          font-size: 11px;
        }
      }

      span {
        @include adaptive-value(font-size, 15, 11);
        @include adaptive-value(line-height, 22, 16);
        color: $black;
        font-weight: 600;

        @media (max-width: 361px) {
          font-size: 12px;
        }
      }
    }

    &-text {
      @include adaptive-value(font-size, 12, 10);
      @include adaptive-value(line-height, 18, 14);
      text-transform: uppercase;
      color: #767676;
      font-weight: 600;
    }
  }

  &__props {
    color: #767676;

    &-item {
      @include adaptive-value(font-size, 15, 13, 1);
      @include adaptive-value(line-height, 22, 16, 1);
    }
  }

  &__total {
    padding-top: 7px;
    @include adaptive-value(padding-bottom, 25, 10, 1);
    @include adaptive-value(padding-left, 30, 10, 1);
    @include adaptive-value(padding-right, 30, 10, 1);
    @include adaptive-value(margin-bottom, 30, 15, 1);
    background: #f5f5f5;

    &-item {
      display: flex;
      justify-content: space-between;
      @include adaptive-value(font-size, 16, 14);
      @include adaptive-value(line-height, 24, 18);
      color: $black;
      @include adaptive-value(padding-top, 18, 10, 1);
      @include adaptive-value(padding-bottom, 18, 10, 1);
      border-bottom: 1px solid #e2e2e2;

      &_total {
        font-size: 18px;
        font-weight: 600;
        border-bottom: 0;
        @include adaptive-value(font-size, 18, 16, 1);
        @include adaptive-value(line-height, 27, 22, 1);
        @include adaptive-value(padding-top, 16, 8, 1);
      }
    }
  }

  &__shipping {
    display: flex;
    justify-content: space-between;

    @media (max-width: 426px) {
      display: block;
    }

    &-body {
      width: 30%;

      @media (max-width: 426px) {
        width: 100%;
        margin-bottom: 10px;
      }

      &:nth-child(3) {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @media (max-width: 426px) {
          flex-direction: row;
        }
      }
    }

    &-title {
      @include adaptive-value(font-size, 16, 14);
      @include adaptive-value(line-height, 24, 18);
      color: $black;
      font-weight: 600;
      @include adaptive-value(margin-bottom, 17, 10);
    }

    &-list {
      @media (max-width: 426px) {
        display: flex;
        flex-wrap: wrap;
      }
    }

    &-item {
      @include adaptive-value(font-size, 16, 14);
      @include adaptive-value(line-height, 29, 22);
      color: #525252;

      @media (max-width: 426px) {
        margin-right: 5px;
      }
    }
  }
}
