$grey: #cdcdcd;
$lightgrey: #f5f5f5;
$orange: #FF6F61;
$black: #111;

.header {
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    //flex-wrap: wrap;
  }

  &__top {
    width: 100%;
    background-color: #f5f5f5;
    font-weight: 500;
    display: flex;
    justify-content: space-between;

    &-left {
      max-width: 570px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      @media (max-width: 860px) {
        max-width: 600px;
      }

      @media (max-width: 769px) {
        flex-direction: column;
      }
    }

    &-right {
      max-width: 360px;
      width: 100%;
      display: flex;
      justify-content: space-between;

      @media (max-width: 860px) {
        margin-bottom: 15px;
        max-width: 600px;
      }
    }

    .container {
      @media (max-width: 860px) {
        flex-direction: column;
      }
    }
  }

  &__shipping {
    font-size: 11px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 16px;

    @media (max-width: 769px) {
      font-size: 14px;
      margin-top: 10px;
    }

    img {
      width: 15px;
      height: 12px;
      margin-right: 15px;
      object-fit: cover;

      @media (max-width: 769px) {
        width: 20px;
        height: 20px;
      }
    }
  }

  &__menu {
    display: flex;

    &-item {
      display: flex;
      font-size: 14px;
      font-weight: 500;
      line-height: 20px;
      padding: 12px 0;

      span {
        transition: 0.3s;
      }

      img {
        width: 14px;
        height: 14px;
        object-fit: cover;
        margin-right: 10px;
      }
    }

    .drop-menu {
      @include adaptive-value(padding-right, 20, 10);
      display: flex;
      align-items: center;
      position: relative;
      cursor: pointer;


      &:not(:last-child) {
        @include adaptive-value(margin-right, 17, 10);
      }

      &:last-child {
        @media (max-width: 860px) {
          padding-right: 0;
        }
      }

      &:hover {
        > span {
          color: $orange;
        }
      }

      ul > li:hover {
        color: $orange;
      }

      &:hover::before {
        color: $orange;
      }

      &::before {
        content: "\f078";
        display: block;
        font-family: FontAwesome;
        font-size: 7px;
        order: 1;
        margin-left: 8px;
        transition: 0.3s;
      }

      &:not(:last-child)::after {
        content: "";
        display: block;
        width: 1px;
        height: 10px;
        background: $grey;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }

  &__middle {
    .menu-link {
      text-transform: uppercase;
    }
  }

  &__bottom {
    background: #1f1f1f;
    //z-index: -1;

    .container {
      position: relative;
    }
  }

  &__list {
    display: flex;

    &-item {
      margin: 0 15px;
      @include adaptive-value(padding-top, 20, 10);
      @include adaptive-value(padding-bottom, 20, 10);
    }

    &-link {
      font-size: 16px;
      line-height: 23px;
      font-weight: 500;
      color: #fff;
      transition: 0.3s;

      &:hover {
        color: $orange;
      }
    }
  }

  form {
    display: flex;
    max-width: 370px;
    width: 100%;
    position: relative;
  }

  &__search {
    width: 100%;
    padding: 0 35px 0 25px;
    @include adaptive-value(padding-top, 22, 10);
    @include adaptive-value(padding-bottom, 22, 10);
    border: none;
    background: #303030;
    position: relative;
    color: #fff;
    transition: 0.3s;

    &::placeholder {
      font-family: Jost;
      font-size: 15px;
      line-height: 22px;
      color: #a0a0a0;

      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }

  &__label {
    font-size: 16px;
    color: #fff;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    transition: 0.3s;

    &:hover {
      color: $orange;
    }
  }

  &__countries,
  &__languages,
  &__currencies {
    width: 135px;
    height: 0;
    position: absolute;
    top: 150%;
    left: -20px;
    background: $lightgrey;
    padding: 10px 15px 10px 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.175);
    cursor: auto;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
    z-index: 5;

    &.active {
      height: 130px;
      top: 100%;
      opacity: 1;
      visibility: visible;

      &::after {
        content: "";
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 10px 10px 10px;
        border-color: transparent transparent $lightgrey transparent;
        position: absolute;
        left: 20px;
        top: -10px;
      }
    }

    &-item {
      display: flex;
      align-items: center;
      margin: 15px 0;
      line-height: 1.2;
      cursor: pointer;
      transition: 0.3s;
    }
  }


  &__countries {
    img {
      margin-left: -2px;
    }

    span {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  }

  &__nav {
    display: flex;

    &-item {
      margin: 0 15px;

      &:first-child {
        @media (max-width: 860px) {
          margin-left: 0;
        }
      }
    }

    &-link {
      color: $black;
      transition: 0.3s;

      &:hover {
        color: $orange;
      }
    }
  }

  &__social {
    display: flex;

    &-link {
      color: #a0a0a0;
      margin: 0 7px;
      transition: 0.3s;

      @media (max-width: 860px) {
        margin: 0 10px;
      }

      &:hover {
        color: darken(#a0a0a0, 20%);
      }
    }
  }

  &__title {
    font-size: 28px;
    font-weight: 600;
    line-height: 42px;
    padding: 25px 0;

    @media (max-width: 769px) {
      padding: 0;
    }
  }

  &__actions {
    display: flex;
    align-items: center;

    &-item {
      position: relative;
      margin: 0 10px;
    }

    img {
      width: 20px;
      height: 20px;
      object-fit: cover;
    }
  }

  &__mobile {
    display: none;

    @media (max-width: 769px) {
      display: block;
      width: 100%;
      position: fixed;
      top: 0;
      background: #fff;
      z-index: 99;
      box-shadow: 0 8px 6px -6px #cdcdcd;
    }
  }

  &__body {
    transition: 0.3s;
    width: 100%;
    display: flex;
    flex-direction: column;

    @media (max-width: 769px) {
      opacity: 0;
      visibility: hidden;
      position: fixed;
      background: #f5f5f5;
      top: 60px;
      left: 120%;
      height: calc(100% - 60px);
      overflow-x: hidden;
      overflow-y: scroll;
      transition: 0.3s;
      z-index: 99;
    }

    &.active {
      opacity: 1;
      visibility: visible;
      left: 0;
      z-index: 5;

      .header__top > .container {
        display: block;
      }
    }

    .header__top-left {
      @media (max-width: 769px) {
        max-width: 100%;
      }

      .header__shipping {
        font-size: 16px;
        margin-bottom: 10px;
      }
    }

    .header__top-right {
      @media (max-width: 769px) {
        max-width: 100%;
        flex-direction: column;
      }
    }

    .header__nav {
      @media (max-width: 769px) {
        justify-content: center;
        margin-bottom: 20px;
      }

      &-item {
        @media (max-width: 769px) {
          font-size: 18px;
        }
      }

    }

    .header__title {
      @media (max-width: 769px) {
        display: none;
      }
    }

    .header__middle {
      @media (max-width: 769px) {
        order: -1;
      }

      .container {
        @media (max-width: 769px) {
          flex-direction: column;
        }
      }

      .menu {
        @media (max-width: 769px) {
          width: 100%;
          flex-direction: column;
          margin-bottom: 20px;
        }

        &-item {
          @media (max-width: 769px) {
            width: 200px;
            text-align: center;
            font-weight: 600;
            margin: 10px auto;
            font-size: 20px;
          }
        }
      }
    }

    .header__bottom {
      @media (max-width: 769px) {
        order: -1;
        background: transparent;
      }

      .container {
        @media (max-width: 769px) {
          flex-direction: column;
        }
      }

      #header-form {
        order: -1;
        max-width: 90%;
        margin-bottom: 20px;
      }
    }

    .header__list {
      @media (max-width: 769px) {
        flex-direction: column;
      }

      &-item {
        @media (max-width: 769px) {
          margin: 0;
          text-align: center;
        }
      }

      &-link {
        @media (max-width: 769px) {
          font-size: 18px;
          color: #111;

          &:active {
            color: $orange;
          }
        }
      }
    }

    .header__actions {
      @media (max-width: 769px) {
        order: -1;
        margin: 20px 0 10px;
      }

      &-item {
        @media (max-width: 769px) {
          margin: 0 20px;
        }
      }
    }

    .header__menu {
      @media (max-width: 769px) {
        margin-bottom: 10px;
      }

      &-item {
        @media (max-width: 769px) {
          @include adaptive-value(font-size, 24, 14);
          @include adaptive-value(padding-right, 30, 15);
          @include adaptive-value(margin-right, 30, 15);
        }

        &:first-child {
          ul {
            width: 170px;
          }
        }
      }
    }

    .header__social {
      @media (max-width: 769px) {
        font-size: 20px;
        justify-content: center;
      }

      &-link {
        @media (max-width: 769px) {
          margin: 0 20px;
        }
      }
    }
  }
}