@import "partials/general/nullstyle";
@import "partials/general/_vars";
@import "partials/general/select";
@import "partials/general/goods";
@import "partials/general/links";
@import "partials/general/menu";
@import "partials/general/popup";
@import "hamburgers/hamburgers";
@import "partials/general/header";
@import "partials/general/footer";
@import "partials/general/routes";
@import "partials/product/sliders";
@import "fonts";

body {
  font-family: Jost;
  border: 0;


  &.lock {
    overflow: hidden;
    box-sizing: border-box;
    padding-right: 17px;
  }

  @media (max-width: 769px) {
    margin-top: 55px;
  }
}

.container {
  width: 100%;
  max-width: 1190px;
  margin: 0 auto;
  padding: 0 10px;
  box-sizing: border-box;
  display: flex;
}

.hamburger {
  padding-bottom: 10px;
}

.header {
  //@include adaptive-value(margin-bottom, 123, 70);
  margin-bottom: 30px;
}

.circle {
  &.hide {
    display: none;
  }
}

.routes {
  margin-bottom: 20px;
}

.product {
  display: flex;
  justify-content: space-between;

  &__info {
    width: 500px;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
  }

  &__category {
    font-size: 16px;
    line-height: 24px;
    color: #767676;
  }

  &__title {
    font-size: 32px;
    line-height: 44px;
    color: $black;
    margin-bottom: 10px;
  }

  &__prices {
    display: flex;
    align-items: center;

    &-stock {
      font-size: 15px;
      color: $black;
    }

    .old-price {
      font-size: 18px;
      line-height: 26px;
      margin-right: 10px;
    }

    .new-price {
      font-size: 22px;
      line-height: 32px;
      margin-right: 15px;
    }
  }

  &__reviews {
    display: flex;
    align-items: flex-start;

    &-info {
      color: $black;
      transition: 0.3s;

      &:hover {
        color: $orange;
      }
    }
  }

  &__rating {
    display: flex;
    margin-right: 10px;
    align-items: center;
    user-select: none;

    &-item {
      font-size: 18px;
      margin: 0 2px;
      color: #1f1f1f;

      &[data-rating-value="5"] {
        color: #cdcdcd;
      }
    }
  }

  &__colors {
    margin-bottom: 45px;

    &-title {
      font-size: 16px;
      line-height: 24px;
      color: $black;
      margin-bottom: 5px;

      span {
        font-weight: 600;
      }
    }

    &-wrap {
      display: flex;
      flex-wrap: wrap;
      margin: 0 -6px;
    }

    &-item {
      margin: 12px 6px;
      cursor: pointer;
      width: 70px;
      height: 70px;
      position: relative;

      &::after {
        content: "";
        display: block;
        width: 0;
        height: 2px;
        background: #1f1f1f;
        position: absolute;
        left: 0;
        bottom: 0;
        transition: 0.3s;
      }

      &.active {
        &::after {
          width: 100%;
        }
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  &__sizes {
    margin-bottom: 45px;

    &-wrap {
      margin-bottom: 20px;
    }

    &-title {
      span {
        font-weight: 600;
      }
    }

    &-chart {
      display: flex;
      align-items: center;

      svg {
        width: 22px;
        height: 16px;
        object-fit: cover;
        margin-right: 12px;
      }

      a {
        font-size: 16px;
        line-height: 24px;
        color: $black;
        text-decoration: underline;
        transition: 0.3s;

        &:hover {
          color: lighten($black, 20%);
        }
      }
    }
  }

  &__actions {
    display: flex;
    margin-bottom: 35px;

    &-item {
      font-size: 16px;
      line-height: 24px;
      transition: 0.3s;
      display: flex;
      align-items: center;
      font-weight: 600;

      &:hover {
        box-shadow: 0 0 5px 1px #cdcdcd;
      }

      &.cart-btn {
        padding: 15px 45px;
        color: #fff;
        background: #1f1f1f;
        margin-right: 18px;

        svg {
          fill: #fff;
        }
      }

      &.wish-btn {
        padding: 15px 35px;
        color: $black;
        border: 1px solid #1f1f1f;

        &.active {
          background: $orange;
          color: #fff;
        }
      }

      span {
        margin-right: 20px;
      }

      svg {
        width: 17px;
        height: 17px;
        object-fit: cover;
      }
    }
  }

  &__sold-out {
    font-size: 16px;
    line-height: 24px;
    color: #525252;
    margin-bottom: 25px;
  }

  &__wait {
    color: $black;
    text-decoration: underline;
    transition: 0.3s;

    &:hover {
      color: lighten($black, 10%);
    }
  }

  &__share {
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;

    li {
      &:first-child {
        color: $black;
        margin-right: 11px;
      }
    }

    &-item {
      width: 30px;
      height: 30px;
      background: #f5f5f5;
      margin: 0 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;

      a {
        color: #a0a0a0;
        transition: 0.3s;

        &:hover {
          color: darken(#a0a0a0, 20%);
        }
      }
    }
  }
}

.aside {
  &__input {
    display: none;

    & + .aside__label {
      &::before {
        content: "\00a0";
        display: inline-block;
        width: 18px;
        height: 18px;
        font-size: 11px;
        line-height: 18px;
        font-weight: 200;
        text-align: center;
        background: #e2e2e2;
        margin-right: 15px;
        transition: 0.1s;
        text-shadow: none !important;
      }

      @media (max-width: 941px) {
        &::before {
          margin-right: 10px;
        }
      }
    }

    &:checked + .aside__label {
      &::before {
        background: $black;
        color: #fff;
        content: "\f00c";
        font-family: FontAwesome;
        text-align: center;
      }
    }

    &:checked + .aside__label {
      color: $black;
      text-shadow: 0 0 1px $black;
    }

    &:checked + .aside__label {
      &::after {
        font-weight: 500;
      }
    }

    &:focus + .aside__label {
      &::before {
        outline: rgb(59, 153, 252) auto 5px;
      }
    }
  }

  &__label {
    cursor: pointer;
    transition: 0.3s;
    display: block;
  }
}

.aside-sizes {
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  margin: 0 -4px;

  &.active {
    display: flex !important;
    flex-wrap: wrap;
  }

  &__item {
    margin: 4px;

    &.unavailable {
      cursor: not-allowed;

      .aside__label {
        background: #f5f5f5;
        text-decoration: line-through;
        pointer-events: none;
      }
    }

    .aside__label {
      display: block;
      width: 42px;
      height: 42px;
      line-height: 42px;
      text-align: center;
      user-select: none;
      background: #fff;
      color: #525252;
      border: 1px solid #cdcdcd;
      transition: 0.3s;

      &:hover {
        background: darken(#fff, 2%);
      }

      &::before {
        display: none;
      }
    }

    .aside__input:checked + .aside__label {
      border-color: #1f1f1f;
    }
  }
}

.product-popup {
  &__header {
    font-size: 18px;
    line-height: 26px;
    color: $black;
    text-align: center;
    padding: 22px 0;
    border-bottom: 1px solid #e2e2e2;
    margin-bottom: 25px;
  }

  &__title {
    font-weight: 600;
  }

  &__body {
    padding: 0 30px 30px;

    &:not(:last-child) {
      border-bottom: 1px solid #e2e2e2;
      margin-bottom: 30px;
    }
  }

  &__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
  }

  &__category {
    font-size: 24px;
    line-height: 36px;
    font-weight: 600;
  }

  &__units {
    display: flex;
    margin: 0 -4px;

    &-item {
      width: 34px;
      height: 34px;
      margin: 0 4px;
      font-size: 11px;
      font-weight: 600;
      text-transform: uppercase;
      line-height: 34px;
      text-align: center;
      border: 1px solid #1f1f1f;
      color: $black;
      background: #fff;
      user-select: none;
      transition: 0.3s;
      cursor: pointer;

      &:hover {
        background: darken(#fff, 5%);
      }

      &.active {
        background: #1f1f1f;
        color: #fff;
      }
    }
  }

  table, tr, th, td {
    border: 1px solid #cdcdcd;
  }

  &__table {
    width: 100%;
    border-collapse: collapse;
    color: $black;
    text-align: left;

    td {
      font-size: 16px;
      line-height: 22px;
      padding: 19px 20px;
    }

    th {
      font-size: 15px;
      line-height: 20px;
      padding: 15px 20px;
    }
  }

  &__multiple {
    display: flex;
    justify-content: space-between;

    table {
      width: 48%;
    }
  }
}

.scrollbar-thumb {
  background: #1f1f1f !important;
  width: 4px !important;
}

.scrollbar-track-y {
  width: 4px !important;
  background: #e2e2e2 !important;
}

.select {
  width: 83px;
  margin: 0 30px 0 0;

  &__header {
    text-align: left;
    padding: 17px 10px;
  }

  &__item {
    text-align: left;
  }

  &__body {
    max-height: 160px;
  }

  &__current {
    padding-right: 20px;

    &::after {
      right: 20px;
    }
  }
}

.tag-sale {
  z-index: 1000;
  background: $orange !important;
}