@import "partials/general/nullstyle";
@import "partials/general/_vars";
@import "partials/general/select";
@import "partials/general/goods";
@import "partials/general/links";
@import "partials/general/menu";
@import "partials/general/popup";
@import "hamburgers/hamburgers";
@import "partials/general/header";
@import "partials/general/footer";
@import "partials/general/routes";
@import "partials/product/sliders";
@import "partials/product/description";
@import "partials/product/reviews";
@import "fonts";
@import "partials/home/features";

body {
  font-family: Jost;
  border: 0;


  &.lock {
    overflow: hidden;
    box-sizing: border-box;
  }

  @media (max-width: 769px) {
    margin-top: 70px;
  }
}

.container {
  width: 100%;
  max-width: 1190px;
  margin: 0 auto;
  padding: 0 10px;
  box-sizing: border-box;
  display: flex;
}

.hamburger {
  padding-bottom: 10px;
}

.header {
  //@include adaptive-value(margin-bottom, 123, 70);
  margin-bottom: 30px;
}

.circle {
  &.hide {
    display: none;
  }
}

.routes {
  margin-bottom: 20px;
  flex-wrap: wrap;

  @media (max-width: 431px) {
    justify-content: flex-start;
  }

  &__item {
    &:not(:last-child) {
      @include adaptive-value(padding-right, 40, 20);

      &::after {
        @include adaptive-value(right, 20, 10);
      }
    }
  }
}

.product {
  display: flex;
  justify-content: space-between;
  @include adaptive-value(margin-bottom, 95, 20);

  @media (max-width: 577px) {
    display: block;
  }

  &__info {
    @media (max-width: 577px) {
      width: 100%;
    }
  }

  &__header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @include adaptive-value(margin-bottom, 35, 10, 1);
  }

  &__category {
    font-size: 16px;
    line-height: 24px;
    color: #767676;
  }

  &__title {
    @include adaptive-value(font-size, 32, 20, 1);
    @include adaptive-value(line-height, 44, 28, 1);
    color: $black;
    @include adaptive-value(margin-bottom, 10, 5, 1);
  }

  &__prices {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 5px;

    &-stock {
      font-size: 15px;
      color: $black;
    }

    .old-price {
      @include adaptive-value(font-size, 18, 14, 1);
      @include adaptive-value(line-height, 26, 18, 1);
      margin-right: 10px;
    }

    .new-price {
      @include adaptive-value(font-size, 22, 16, 1);
      @include adaptive-value(line-height, 32, 22, 1);
      margin-right: 15px;
    }
  }

  &__reviews {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    &-info {
      color: $black;
      transition: 0.3s;

      &:hover {
        color: $orange;
      }
    }
  }

  &__rating {
    display: flex;
    margin-right: 10px;
    align-items: center;
    user-select: none;

    &-item {
      font-size: 18px;
      margin: 0 2px;
      color: #1f1f1f;

      &[data-rating-value="5"] {
        color: #cdcdcd;
      }
    }
  }

  &__colors {
    @include adaptive-value(margin-bottom, 45, 15, 1);

    &-title {
      font-size: 16px;
      line-height: 24px;
      color: $black;
      margin-bottom: 5px;

      span {
        font-weight: 600;
      }
    }

    &-wrap {
      display: flex;
      flex-wrap: wrap;
      margin: 0 -6px;
    }

    &-item {
      margin: 12px 6px;
      cursor: pointer;
      width: 70px;
      height: 70px;
      position: relative;

      &::after {
        content: "";
        display: block;
        width: 0;
        height: 2px;
        background: #1f1f1f;
        position: absolute;
        left: 0;
        bottom: 0;
        transition: 0.3s;
      }

      &.active {
        &::after {
          width: 100%;
        }
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  &__sizes {
    @include adaptive-value(margin-bottom, 37, 10, 1);

    &-wrap {
      @include adaptive-value(margin-bottom, 20, 10, 1);
    }

    &-title {
      @include adaptive-value(margin-bottom, 20, 10, 1);

      span {
        font-weight: 600;
      }
    }

    &-chart {
      display: flex;
      align-items: center;

      svg {
        width: 22px;
        height: 16px;
        object-fit: cover;
        margin-right: 12px;
      }

      a {
        font-size: 16px;
        line-height: 24px;
        color: $black;
        text-decoration: underline;
        transition: 0.3s;

        &:hover {
          color: lighten($black, 20%);
        }
      }
    }
  }

  &__actions {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: -8px 0 27px;

    @media (max-width: 577px) {
      justify-content: flex-start;
    }

    &-item {
      @include adaptive-value(font-size, 16, 12, 1);
      @include adaptive-value(line-height, 24, 16, 1);
      transition: 0.3s;
      display: flex;
      align-items: center;
      font-weight: 600;
      margin: 8px 0;

      &:hover {
        box-shadow: 0 0 5px 1px #cdcdcd;
      }

      &.cart-btn {
        @include adaptive-value(padding-top, 15, 10, 1);
        @include adaptive-value(padding-bottom, 15, 10, 1);
        @include adaptive-value(padding-left, 45, 20, 1);
        @include adaptive-value(padding-right, 45, 20, 1);
        color: #fff;
        background: #1f1f1f;
        @include adaptive-value(margin-right, 10, 5, 1);

        svg {
          fill: #fff;
        }
      }

      &.wish-btn {
        @include adaptive-value(padding-top, 15, 10, 1);
        @include adaptive-value(padding-bottom, 15, 10, 1);
        @include adaptive-value(padding-left, 35, 15, 1);
        @include adaptive-value(padding-right, 35, 15, 1);
        color: $black;
        border: 1px solid #1f1f1f;

        &.active {
          background: $orange;
          color: #fff;
        }
      }

      span {
        margin-right: 20px;
      }

      svg {
        width: 17px;
        height: 17px;
        object-fit: cover;
      }
    }
  }

  &__sold-out {
    font-size: 16px;
    line-height: 24px;
    color: #525252;
    margin-bottom: 25px;
  }

  &__wait {
    color: $black;
    text-decoration: underline;
    transition: 0.3s;

    &:hover {
      color: lighten($black, 10%);
      text-decoration: none;
    }
  }

  &__share {
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;

    li {
      &:first-child {
        color: $black;
        margin-right: 11px;
      }
    }

    &-item {
      width: 30px;
      height: 30px;
      background: #f5f5f5;
      margin: 0 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;

      a {
        color: #a0a0a0;
        line-height: 30px;
        transition: 0.3s;
        text-align: center;
        vertical-align: middle;

        &:hover {
          color: darken(#a0a0a0, 20%);
        }
      }
    }
  }
}

.aside {
  &__input {
    display: none;

    & + .aside__label {
      &::before {
        content: "\00a0";
        display: inline-block;
        width: 18px;
        height: 18px;
        font-size: 11px;
        line-height: 18px;
        font-weight: 200;
        text-align: center;
        background: #e2e2e2;
        margin-right: 15px;
        transition: 0.1s;
        text-shadow: none !important;
      }

      @media (max-width: 941px) {
        &::before {
          margin-right: 10px;
        }
      }
    }

    &:checked + .aside__label {
      &::before {
        background: $black;
        color: #fff;
        content: "\f00c";
        font-family: FontAwesome;
        text-align: center;
      }
    }

    &:checked + .aside__label {
      color: $black;
      text-shadow: 0 0 1px $black;
    }

    &:checked + .aside__label {
      &::after {
        font-weight: 500;
      }
    }

    &:focus + .aside__label {
      &::before {
        outline: rgb(59, 153, 252) auto 5px;
      }
    }
  }

  &__label {
    cursor: pointer;
    transition: 0.3s;
    display: block;
  }
}

.aside-sizes {
  display: flex;
  flex-wrap: wrap;
  max-width: 400px;
  width: 100%;
  margin: 0 -4px;

  &.active {
    display: flex !important;
    flex-wrap: wrap;
  }

  &__item {
    margin: 4px;

    &.unavailable {
      cursor: not-allowed;

      .aside__label {
        background: #f5f5f5;
        text-decoration: line-through;
        pointer-events: none;
      }
    }

    .aside__label {
      display: block;
      width: 42px;
      height: 42px;
      line-height: 42px;
      text-align: center;
      user-select: none;
      background: #fff;
      color: #525252;
      border: 1px solid #cdcdcd;
      transition: 0.3s;

      &:hover {
        background: darken(#fff, 2%);
      }

      &::before {
        display: none;
      }
    }

    .aside__input:checked + .aside__label {
      border-color: #1f1f1f;
    }
  }
}

.product-popup {
  &__header {
    font-size: 18px;
    line-height: 26px;
    color: $black;
    text-align: center;
    @include adaptive-value(padding-top, 22, 15);
    @include adaptive-value(padding-bottom, 22, 15);
    border-bottom: 1px solid #e2e2e2;
    @include adaptive-value(margin-bottom, 25, 10);
  }

  &__title {
    font-weight: 600;

    @media (max-width: 426px) {
      text-align: center;
    }
  }

  &__body {
    @include adaptive-value(padding-right, 30, 10);
    @include adaptive-value(padding-left, 30, 10);
    @include adaptive-value(padding-bottom, 30, 15);

    &:not(:last-child) {
      border-bottom: 1px solid #e2e2e2;
      @include adaptive-value(margin-bottom, 30, 15);
    }
  }

  &__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include adaptive-value(margin-bottom, 25, 10);
  }

  &__category {
    font-size: 24px;
    line-height: 36px;
    font-weight: 600;
  }

  &__units {
    display: flex;
    margin: 0 -4px;

    &-item {
      width: 34px;
      height: 34px;
      margin: 0 4px;
      font-size: 11px;
      font-weight: 600;
      text-transform: uppercase;
      line-height: 34px;
      text-align: center;
      border: 1px solid #1f1f1f;
      color: $black;
      background: #fff;
      user-select: none;
      transition: 0.3s;
      cursor: pointer;

      &:hover {
        background: darken(#fff, 5%);
      }

      &.active {
        background: #1f1f1f;
        color: #fff;
      }
    }
  }

  table, tr, th, td {
    border: 1px solid #cdcdcd;
  }

  &__table {
    width: 100%;
    border-collapse: collapse;
    color: $black;
    text-align: left;

    td {
      @include adaptive-value(font-size, 16, 14);
      @include adaptive-value(line-height, 22, 16);
      @include adaptive-value(padding-top, 19, 10);
      @include adaptive-value(padding-bottom, 19, 10);
      @include adaptive-value(padding-left, 20, 10);
      @include adaptive-value(padding-right, 20, 10);
    }

    th {
      @include adaptive-value(font-size, 15, 12);
      @include adaptive-value(line-height, 20, 14);
      @include adaptive-value(padding-top, 15, 10);
      @include adaptive-value(padding-bottom, 15, 10);
      @include adaptive-value(padding-left, 20, 10);
      @include adaptive-value(padding-right, 20, 10);
    }

    tr {
      transition: 0.3s;

      &:hover {
        background: #f5f5f5;
      }
    }
  }

  &__multiple {
    display: flex;
    justify-content: space-between;

    @media (max-width: 426px) {
      display: block;
    }

    table {
      width: 48%;

      @media (max-width: 426px) {
        width: 100%;

        th, td {
          &:first-child {
            width: 80px;
          }

          &:nth-child(2) {
            width: 90px;
          }
        }
      }

      &:last-child {
        @media (max-width: 426px) {
          border-top: 0;

          tr {
            &:first-child {
              display: none;
            }

            &:nth-child(2) {
              border-top: 0;

              td {
                border-top: 0;
              }
            }
          }
        }
      }
    }
  }

  &__item {
    display: flex;
    @include adaptive-value(margin-bottom, 35, 15);

    @media (max-width: 426px) {
      display: block;
    }

    .aside-sizes {
      max-width: 290px;

      @media (max-width: 426px) {
        max-width: 100%;
        justify-content: center;
      }
    }

    .aside__label {
      width: 48px;
    }

    .product-popup__title {
      margin-bottom: 25px;
    }
  }

  &__img {
    width: 100px;
    height: 100px;
    margin-right: 30px;

    @media (max-width: 426px) {
      width: 150px;
      height: 150px;
      margin: 0 auto;
      margin-bottom: 20px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__description {
    max-width: 276px;
    margin: 0 auto;
    text-align: center;
    font-size: 15px;
    line-height: 22px;
    color: #525252;
    margin-bottom: 25px;
  }

  &__form {
    &-wrap {
      display: flex;
      justify-content: space-between;
      margin-bottom: 30px;

      @media (max-width: 426px) {
        flex-direction: column;
      }

      input {
        max-width: 245px;
        width: 50%;
        border: 1px solid #cdcdcd;
        padding: 13px 20px;
        transition: 0.3s;

        @media (max-width: 426px) {
          max-width: 100%;
          width: 100%;
        }

        &:first-child {
          margin-right: 5px;

          @media (max-width: 426px) {
            margin: 0 0 10px 0;
          }
        }

        &::placeholder {
          font-size: 14px;
          line-height: 20px;
          color: #767676;
        }

        &:focus {
          box-shadow: 0 0 4px 1px #111;
        }
      }
    }

    input[type="submit"] {
      display: block;
      font-size: 15px;
      line-height: 22px;
      color: #fff;
      padding: 12px 42px;
      background: #1f1f1f;
      margin: 0 auto;
      cursor: pointer;
      transition: 0.3s;

      &:hover {
        background: lighten(#1f1f1f, 10%);
        box-shadow: 0 0 4px 1px #111;
      }
    }
  }

  &__preview {
    display: flex;

    @media (max-width: 798px) {
      flex-direction: column;
    }

    &-slider {
      max-width: 470px;
      width: 43%;
      max-height: 550px;
      @include adaptive-value(margin-right, 70, 30, 1);

      @media (max-width: 798px) {
        max-width: 100%;
        width: 50%;
        margin: 0 auto;
      }

      @media (max-width: 426px) {
        width: 100%;
      }
    }

    &-item {
      width: 100%;
      height: 100%;

      img {
        width: 100%;
        height: 100%;
        max-height: 550px;
        object-fit: cover;

        @media (max-width: 798px) {
          max-height: 350px;
        }
      }
    }

    .product {
      &__header {
        @include adaptive-value(margin-bottom, 25, 15, 1);
      }

      &__title {
        @include adaptive-value(font-size, 32, 24, 1);
        @include adaptive-value(line-height, 44, 28, 1);
      }

      &__info {
        @include adaptive-value(padding-top, 45, 20, 1);

        @media (max-width: 798px) {
          width: 100%;
          text-align: center;
          padding-left: 20px;
          padding-right: 20px;
        }
      }

      &__description {
        @media (max-width: 798px) {
          width: 100%;
        }
      }

      &__prices {
        @media (max-width: 798px) {
          justify-content: center;
        }
      }

      &__colors {
        @include adaptive-value(margin-bottom, 25, 15);

        &-wrap {
          @media (max-width: 798px) {
            justify-content: center;
          }
        }
      }

      &__sizes {
        @include adaptive-value(margin-bottom, 30, 15);

        .aside-sizes {
          @media (max-width: 798px) {
            max-width: 100%;
            justify-content: center;
          }
        }
      }

      &__actions {
        margin: -8px 0;

        @media (max-width: 950px) {
          justify-content: flex-start;
        }

        @media (max-width: 798px) {
          justify-content: center;
          margin-bottom: 10px;
        }

        &-item {
          span {
            margin-right: 10px;
          }

          @media (max-width: 950px) {
            padding: 10px 20px;
          }
        }
      }
    }

    .slick {
      &-slider {
        position: relative;
      }

      &-list {
        overflow: hidden;
        width: 100%;
        height: 100%;
      }

      &-slide {
        div {
          height: 100%;
        }
      }

      &-track {
        display: flex;
        height: 100%;
      }

      &-arrow {
        @include adaptive-value(width, 42, 30);
        @include adaptive-value(height, 42, 30);
        background: #fff !important;
        position: absolute !important;
        z-index: 1111;
      }

      &-prev,
      &-next {
        font-size: 0 !important;;
        background: none;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);

        &::after {
          display: block;
          font-family: FontAwesome;
          @include adaptive-value(font-size, 22, 18);
          color: #1f1f1f;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          transition: 0.3s;
        }

        &:hover::after {
          color: darken(#cdcdcd, 25%);
        }
      }

      &-prev {
        left: -1px !important;

        &::after {
          content: "\f053";
        }
      }

      &-next {
        right: -1px !important;

        &::after {
          content: "\f054";
        }
      }
    }
  }

  &__btn {
    display: flex;
    justify-content: center;
    max-width: 470px;
    width: 43%;
    color: #fff;
    font-size: 15px;
    line-height: 23px;
    font-weight: 600;
    padding: 15px 0;
    background: $orange;
    transition: 0.3s;

    @media (max-width: 798px) {
      margin: 0 auto;
    }

    @media (max-width: 577px) {
      width: 60%;
    }

    i {
      font-size: 20px;
      margin-left: 16px;
    }

    &:hover {
      box-shadow: 0 0 5px 2px $orange;
    }
  }

  .select {
    margin-right: 10px;

    &__current {
      &::after {
        content: "\f077";
      }
    }

    &__body {
      top: initial;
      bottom: 150%;
      border-top-width: 1px;
      border-bottom-width: 0;

      &.active {
        top: initial;
        bottom: 100%;
      }
    }
  }
}

.scrollbar-thumb {
  background: #1f1f1f !important;
  width: 4px !important;
}

.scrollbar-track-y {
  width: 4px !important;
  background: #e2e2e2 !important;
}

.select {
  width: 83px;
  margin: 8px 0;
  @include adaptive-value(margin-right, 15, 10, 1);

  &__header {
    text-align: left;
    padding: 0 10px;
    @include adaptive-value(padding-top, 17, 10);
    @include adaptive-value(padding-bottom, 17, 10);
  }

  &__item {
    text-align: left;
  }

  &__body {
    max-height: 160px;
  }

  &__current {
    padding-right: 20px;

    &::after {
      right: 20px;
    }
  }
}

.tag-sale {
  z-index: 1000;
  background: $orange !important;
}

.popup {
  &[data-id-popup="1"] {
    .popup__wrap {
      max-width: 570px;
    }
  }

  &[data-id-popup="2"] {
    .popup__wrap {
      max-width: 1110px;
    }
  }
}

.features {
  background: #f5f5f5;
}

.goods__item-wrap {
  &:hover {
    .goods__panel {
      opacity: 1;
      visibility: visible;
      z-index: 5;
    }
  }
}

.section__title {
  @include adaptive-value(font-size, 28, 20);
  @include adaptive-value(line-height, 38, 26);
  font-weight: 600;
  color: $black;
  @include adaptive-value(margin-bottom, 60, 25);
  text-align: center;
}

.goods {
  max-width: 1190px;
  margin: 0 auto 80px;

  &__item {
    margin: 0;
  }

  &__list {
    @include adaptive-value(padding-left, 20, 10);
    @include adaptive-value(padding-right, 20, 10);
  }

  .slick {
    &-slider {
      position: relative;
    }

    &-track {
      display: flex;
    }

    &-list {
      overflow: hidden;
      width: 100%;
      //@include adaptive-value(margin-left, 20, 10);
      //@include adaptive-value(margin-right, 20, 10);
    }

    &-slide {
      @include adaptive-value(margin-left, 15, 5);
      @include adaptive-value(margin-right, 15, 5);
    }

    &-arrow {
      position: absolute !important;
      z-index: 3;
    }

    &-prev,
    &-next {
      font-size: 0 !important;;
      background: none;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);

      &::after {
        display: block;
        font-family: FontAwesome;
        font-size: 22px;
        color: #cdcdcd;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        transition: 0.3s;
      }

      &:hover::after {
        color: darken(#cdcdcd, 25%);
      }
    }

    &-prev {
      left: 3px !important;

      &::after {
        content: "\f053";
        left: 0;
      }
    }

    &-next {
      right: 3px !important;

      &::after {
        content: "\f054";
        right: 0;
      }
    }

    &-dots {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      bottom: -20px;
      left: 50%;
      transform: translateX(-50%);

      li {
        list-style: none;
        margin: 0 5px;

        &.slick-active {
          button {
            background-color: #ff6f61;
            opacity: 1;
          }
        }
      }

      button {
        font-size: 0;
        width: 12px;
        height: 12px;
        background-color: #cdcdcd;
        opacity: 0.4;
        border-radius: 50%;
      }
    }
  }
}