@import "partials/general/nullstyle";
@import "partials/general/_vars";
@import "partials/general/select";
@import "partials/general/goods";
@import "partials/general/links";
@import "partials/general/menu";
@import "partials/general/routes";
@import "hamburgers/hamburgers";
@import "partials/general/animation";
@import "partials/general/header";
@import "partials/general/footer";
@import "partials/shop/aside";
@import "partials/shop/slider";
@import "partials/shop/content";
@import "fonts";

body {
  font-family: Jost;
  border: 0;

  &.lock {
    overflow: hidden;
    box-sizing: border-box;
    //padding-right: 17px;
  }

  @media (max-width: 769px) {
    margin-top: 55px;
  }
}

.main {
  transition: 0.3s;

  &.active {
    transform: translateX(280px);
  }
}

#shop {
  .container {
    //padding: 0;

    @media (max-width: 941px) {
      display: flex;
      flex-direction: column-reverse;
    }
  }
}

.container {
  width: 100%;
  max-width: 1190px;
  margin: 0 auto;
  padding: 0 10px;
  box-sizing: border-box;
  display: flex;
}

.hamburger {
  padding-bottom: 10px;
}

.header {
  @include adaptive-value(margin-bottom, 123, 70);
}

.site {
  width: 74%;

  @media (max-width: 941px) {
    width: 100%;
  }
}

.circle {
  &.hide {
    display: none;
  }
}


.select {
  &.hide {
    display: none;
  }
}

.goods {
  
}